@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root{
    --primary-color  : #00FF08;
    --secundary-color: #FFF;
}
/* ESTILO GERAL PARA TODO SITE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #00FF08;
    transform : scale(1.05);
}
h2.title{
    color: var(--secundary-color);
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
}
h2.title span{
    color: var(--primary-color);
}

/* /ESTILO GERAL PARA TODO SITE */

/* ESTILO DO CABECALHO -> ( HEADER ) */
header{
    padding: 40px 4%;
}
header > .interface{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header a{
    color: #5C5C5C;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: var(--secundary-color);
    transform : scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
   display: inline-block;
   padding: 0 40px;
}

/* /ESTILO DO CABECALHO -> ( HEADER ) */

/* ESTILO DA HOME */
section.home{
    padding: 40px 4%;    
}
section.home .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.home .txt-home h1{
    color: var(--secundary-color);
    font-size: 42px;
    text-transform: uppercase;
    line-height: 40px;
}
.home .txt-home h1 span{
    color: var(--primary-color);
}
.home .txt-home p{
    color: var(--secundary-color);
    margin: 40px 0;
}
.home .aria-img-home img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}
/* /ESTILO DA HOME */

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
section.especialidades .especialidades-box{
   color: var(--secundary-color);
   padding: 40px;   
   margin-top: 45px;
   border-radius: 20px;
   transition: .2s;
   cursor: pointer;
}
section.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #FFFFFF78;
}
section.especialidades .especialidades-box i{
   font-size: 70px;
   color: var(--primary-color);   
}
section.especialidades .especialidades-box h3{
   font-size: 28px;
   margin: 15px 0; 
}

/* /ESTILO DAS ESPECIALIDADES */