/* GOOGLE FONTS POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;700&display=swap');
/* /GOOGLE FONTS POPPINS */

/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* /BOOTSTRAP ICONS */

:root{
    --primary-color  : #00FF08;
    --secundary-color: #FFF;
}
/* ESTILO GERAL PARA TODO SITE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
button:hover, form .btn-enviar input[type=submit]:hover{
    box-shadow: 0px 0px 8px #00FF08;
    transform : scale(1.05);
}
h2.title{
    color: var(--secundary-color);
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
}
h2.title span{
    color: var(--primary-color);
}
h1,h2{
    text-transform: uppercase;
}

/* /ESTILO GERAL PARA TODO SITE */

/* ESTILO DO CABECALHO -> ( HEADER ) */
header{
    padding: 40px 4%;
}
header > .interface{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header a{
    color: #5C5C5C;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: var(--secundary-color);
    transform : scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
   display: inline-block;
   padding: 0 40px;
}

/* /ESTILO DO CABECALHO -> ( HEADER ) */

/* ESTILO DA HOME */
section.home{
    padding: 120px 4%;    
}
section.home .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.home .txt-home h1{
    color: var(--secundary-color);
    font-size: 42px;
    line-height: 40px;
}
.home .txt-home h1 span{
    color: var(--primary-color);
}
.home .txt-home p{
    color: var(--secundary-color);
    margin: 40px 0;
}
.home .aria-img-home img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}
/* /ESTILO DA HOME */

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 120px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
section.especialidades .especialidades-box{
   color: var(--secundary-color);
   padding: 40px;   
   margin-top: 45px;
   border-radius: 20px;
   transition: .2s;
   cursor: pointer;
}
section.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #FFFFFF78;
}
section.especialidades .especialidades-box i{
   font-size: 70px;
   color: var(--primary-color);   
}
section.especialidades .especialidades-box h3{
   font-size: 28px;
   margin: 15px 0; 
}
/* /ESTILO DAS ESPECIALIDADES */

/* ESTILO DO SOBRE */
section.sobre{
    padding: 120px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
section.sobre .aria-txt-sobre{
    color: var(--secundary-color);
}
section.sobre .aria-txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
section.sobre .aria-txt-sobre h2 span{
    color: var(--primary-color);
    display: block;
}
section.sobre .aria-txt-sobre p{
    margin: 30px 0;
    text-align: justify;
}
.btn-social button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    font-size: 22px;
    margin: 0 5px;
    cursor: pointer;
    transition: .2s;
}
/* /ESTILO DO SOBRE */

/* /ESTILO DO PORTFOLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #FFFFFF1d;
}
section.portfolio .flex{
   justify-content: space-around;
   margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img-port:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
   opacity: 1;
}
/* /ESTILO DO PORTFOLIO */

/* /ESTILO DO FORMULARIO */
section.formulario{
    padding: 80px 4%;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #FFF;
    font-size: 18px;
}
form textarea{
   resize: none;
   max-height: 200px;
}
form .btn-enviar{
   margin-top: 20px;    
   text-align: center;   
}
form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: var(--primary-color);
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    max-height: 60px;
}
/* /ESTILO DO FORMULARIO */

/* /ESTILO DO RODAPE */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #FFFFFF1d;
}
footer .flex{
    justify-content: space-between;
}
footer .line-footer{
    padding: 20px 0;    
}
.borda{
    border-top: 2px solid var(--primary-color);
}
footer .line-footer p i{
    color: var(--primary-color);
    font-size: 22px;
}
footer .line-footer p a{
   color: var(--secundary-color);
}
/* /ESTILO DO RODAPE */